In [1]:
import pandas as pd
from dataLoader import DataLoader

In [2]:
loader = DataLoader()

datadir = 'src/datasets'
files = ['amostra_projeto1.csv', 'amostra_projeto_2.csv', 'amostra_projeto_3.csv']

loader._load_data_from_path(datadir, files)

In [3]:
loader.dfs['amostra_projeto1']['header']

              Info           Valor
0           Titulo  Projeto 1 - Wa
1        Tipologia          Térrea
2     Área Terreno          485,00
3  Área Construída          246,63
4    Área Fundação          237,98
5     Área Fachada          597,88
6      Área Parede          615,86
7        Qtde BWCs            5,00

In [4]:
loader.dfs['amostra_projeto1']['budget']

,Item,Referência,Tipo,Código,Descrição,Unid.,Quantidade,BDI,Preço Material (Unitário),Preço Material (Total),Preço Execução (Unitário),Preço Execução (Total),Preço (Unitário),Preço (Total)
0,1.,NaN,NaN,NaN,ETAPAS PRE OBRA,NaN,NaN,"0,0%",NaN,NaN,NaN,"R$ 8.086,25",NaN,"R$ 8.086,25"
1,1.1.,NaN,NaN,NaN,SONDAGEM,NaN,NaN,"0,0%",NaN,NaN,NaN,"R$ 3.000,00",NaN,"R$ 3.000,00"
2,1.1.1,MKS_COMPOSICOES,COMPOSICAO,CMP_INF-SON,SONDAGEM,VB,1,"0,0%",NaN,NaN,"R$ 3.000,00","R$ 3.000,00","R$ 3.000,00","R$ 3.000,00"
3,1.2.,NaN,NaN,NaN,LEVANTAMENTO TOPOGRAFICO,NaN,NaN,"0,0%",NaN,NaN,NaN,"R$ 1.200,00",NaN,"R$ 1.200,00"
4,1.2.1,MKS_COMPOSICOES,COMPOSICAO,CMP_INF-LVT,LEVANTAMENTO TOPOGRAFICO,VB,1,"0,0%",NaN,NaN,"R$ 1.200,00","R$ 1.200,00","R$ 1.200,00","R$ 1.200,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,16.,NaN,NaN,NaN,FORMALIZACAO DA ENTREGA,NaN,NaN,"0,0%",NaN,NaN,NaN,"R$ 912,85",NaN,"R$ 912,85"
147,16.1.,NaN,NaN,NaN,HABITE-SE E AVERBACAO,NaN,NaN,"0,0%",NaN,NaN,NaN,"R$ 912,85",NaN,"R$ 912,85"
148,16.1.1,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-AVR,TAXA AVERBACAO,VB,1,"0,0%",NaN,NaN,"R$ 502,85","R$ 502,85","R$ 502,85","R$ 502,85"
149,16.1.2,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-HBT,TAXA HABITE-SE PREFEITURA,VB,1,"0,0%",NaN,NaN,"R$ 150,00","R$ 150,00","R$ 150,00","R$ 150,00"
150,16.1.3,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-VCA,TAXA VISTORIA CONCESSIONARIA DE AGUA,VB,1,"0,0%",NaN,NaN,"R$ 260,00","R$ 260,00","R$ 260,00","R$ 260,00"