In [1]:
import pandas as pd
import seaborn as sns
from dataLoader import DataLoader
from dataProcessor import DataProcessor

In [2]:
loader = DataLoader()

datadir = 'src/datasets'
files = ['amostra_projeto1.csv', 'amostra_projeto_2.csv', 'amostra_projeto_3.csv']

loader._load_data_from_path(datadir, files)

In [3]:
loader.dfs['amostra_projeto1']['header']

              Info           Valor
0           Titulo  Projeto 1 - Wa
1        Tipologia          Térrea
2     Área Terreno          485,00
3  Área Construída          246,63
4    Área Fundação          237,98
5     Área Fachada          597,88
6      Área Parede          615,86
7        Qtde BWCs            5,00

In [4]:
loader.dfs['amostra_projeto1']['budget']

,Item,Referência,Tipo,Código,Descrição,Unid.,Quantidade,BDI,Preço Material (Unitário),Preço Material (Total),Preço Execução (Unitário),Preço Execução (Total),Preço (Unitário),Preço (Total)
0,1.,NaN,NaN,NaN,ETAPAS PRE OBRA,NaN,NaN,"0,0%",NaN,NaN,NaN,8086.25,NaN,8086.25
1,1.1.,NaN,NaN,NaN,SONDAGEM,NaN,NaN,"0,0%",NaN,NaN,NaN,3000.00,NaN,3000.00
2,1.1.1,MKS_COMPOSICOES,COMPOSICAO,CMP_INF-SON,SONDAGEM,VB,1,"0,0%",NaN,NaN,3000.00,3000.00,3000.00,3000.00
3,1.2.,NaN,NaN,NaN,LEVANTAMENTO TOPOGRAFICO,NaN,NaN,"0,0%",NaN,NaN,NaN,1200.00,NaN,1200.00
4,1.2.1,MKS_COMPOSICOES,COMPOSICAO,CMP_INF-LVT,LEVANTAMENTO TOPOGRAFICO,VB,1,"0,0%",NaN,NaN,1200.00,1200.00,1200.00,1200.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,16.,NaN,NaN,NaN,FORMALIZACAO DA ENTREGA,NaN,NaN,"0,0%",NaN,NaN,NaN,912.85,NaN,912.85
147,16.1.,NaN,NaN,NaN,HABITE-SE E AVERBACAO,NaN,NaN,"0,0%",NaN,NaN,NaN,912.85,NaN,912.85
148,16.1.1,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-AVR,TAXA AVERBACAO,VB,1,"0,0%",NaN,NaN,502.85,502.85,502.85,502.85
149,16.1.2,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-HBT,TAXA HABITE-SE PREFEITURA,VB,1,"0,0%",NaN,NaN,150.00,150.00,150.00,150.00
150,16.1.3,MKS_COMPOSICOES,COMPOSICAO,CMP_EPO-TAX-VCA,TAXA VISTORIA CONCESSIONARIA DE AGUA,VB,1,"0,0%",NaN,NaN,260.00,260.00,260.00,260.00

Relações

In [5]:
processor = DataProcessor(loader)

In [6]:
processor._get_stats_by_key('amostra_projeto1')

,Preço Material (Unitário),Preço Material (Total),Preço Execução (Unitário),Preço Execução (Total),Preço (Unitário),Preço (Total)
count,72.000000,117.000000,65.000000,119.000000,92.000000,151.000000
mean,480.737500,17270.030940,328.507385,9534.377143,608.326957,20895.261656
std,843.584134,24043.951664,606.836134,14554.464268,876.974707,33851.230804
min,7.040000,2.430000,1.120000,1.120000,1.120000,1.120000
25%,54.362500,1941.230000,30.000000,934.650000,88.990000,1699.500000
50%,138.850000,6600.000000,80.000000,4888.260000,212.975000,7200.000000
75%,685.000000,23464.290000,205.000000,10869.525000,825.000000,25762.100000
max,5165.000000,148767.710000,3000.000000,91520.290000,5345.000000,233799.310000

In [7]:
processor._calculate_totals('amostra_projeto1')

{'Total Material Cost': 2020593.62,
 'Total Execution Cost': 1134590.88,
 'Total Cost': 3155184.5100000007}

In [8]:
loader.dfs['amostra_projeto1']['header']

              Info           Valor
0           Titulo  Projeto 1 - Wa
1        Tipologia          Térrea
2     Área Terreno          485,00
3  Área Construída          246,63
4    Área Fundação          237,98
5     Área Fachada          597,88
6      Área Parede          615,86
7        Qtde BWCs            5,00

In [17]:
loader._compile_T_headers()

Info,Titulo,Tipologia,Área Terreno,Área Construída,Área Fundação,Área Fachada,Área Parede,Qtde BWCs
Valor,Projeto 1 - Wa,Térrea,"485,00","246,63","237,98","597,88","615,86","5,00"
Valor,Projeto 2 - Ca,Sobrado,"300,00","249,24","161,55","747,17","662,06","4,00"
Valor,Projeto 3 - Je2,Sobrado,"500,00","425,00","378,31","521,67","581,76","6,00"